@{
    Layout = null;
}

<body>
    <div>
        <button onclick="location.href='@Url.Action("Login", "Account")'">Login</button>
        <button onclick="location.href='@Url.Action("Register", "Account")'">Register</button>
    </div>
</body>